.control-panel
  display inline-block
  vertical-align bottom
  padding 2px 0 2px 20px

  button
    display inline-block
    background none
    border none
    font-size 15px
    padding 4px
    color #ccc
    outline none
    cursor pointer

    &:hover
      color #111