clearfix()
  &:after
    content ""
    clear both
    display table

.section
  margin 30px 100px
  .header
    h2
      color #fff
      background-color #111
      margin 0
      font-size 18px
      display inline-block
      vertical-align bottom
      padding 4px 14px

  .section-body
    border 1px solid #000
    padding 10px


  .element-collection
    margin 0 -1%
    clearfix()

